
.animationBee {
    position: relative;
    flex: 1;
    height: 120px;
    max-width: 100%;
    overflow: hidden;
    
}

.animationBee .bee-path {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.animationBee .bee-path .draw-path {
    fill: none;
    stroke: #FDB912;
    stroke-width: 3;
    stroke-dasharray: 6 8;
    
}

.animationBee .bee-svg {
  

    /* limpieza total */
    border: none;
    outline: none;
    box-shadow: none;
    
    /* centra la abeja en el camino */
    transform-box: fill-box;
    transform-origin: center;

    image-rendering: auto;

}


 

.mask-rect {
    animation: revealPath 6s linear infinite;
}

@keyframes revealPath {
    0% {
        width: 0;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .animationBee {
        height: 180px;
    }

    .animationBee .bee-path {
        transform: translateY(-50%) scale(2);
    }
}



