
.animationBee {
    position: relative;
    flex: 1;
    height: 140px;
    margin: 10px 20px;
    overflow: visible;
}

.animationBee .bee-path {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.animationBee .bee-path .draw-path {
    fill: none;
    stroke: #FDB912;
    stroke-width: 3;
    stroke-dasharray: 6 8;
    
}



 .animationBee .beee {
   
    position: absolute;
    top: 35%;
    left: 10;
    width: 65px;           /* más grande */
    height: auto;
    border: none !important; /* sin borde */
    box-shadow: none;
    transform: translateY(-50%);
    offset-path: path("M0,50 C100,0 200,100 300,50");
    offset-distance: 0%;
    offset-rotate: auto;

    animation: beeFly 6s linear infinite;
}

.mask-rect {
    animation: revealPath 6s linear infinite;
}

@keyframes revealPath {
    0% {
        width: 0;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes beeMove {
    to {
        offset-distance: 100%;
    }
}

@keyframes beeDraw {
    from {
        stroke-dashoffset: 200;
    }
    to {
        stroke-dashoffset: 0;
    }
}


 @keyframes beeFly {
    0% {
        offset-distance: 0%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        offset-distance: 100%;
        opacity: 1;
    }

    100% {
        offset-distance: 100%;
        opacity: 0;
    }
}