@charset "utf-8";
/* CSS Document */

div.mitad {
	width: 49%;
	min-width: 240px;
	display: inline-block;
	text-align: center;
	height: 270px;
	position: relative;
	margin-bottom: 10px;
}

input.w3em {
	visibility: hidden;
	display: block;
}

/* Hide the input by using a className */
input.fd-hidden-input,
select.fd-hidden-input {
	display: none;
}

/* Screen reader class - hides it from the visual display */
.fd-screen-reader {
	position: absolute;
	left: -999em;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Disabled datePicker and activation button */
a.dp-disabled,
.dp-disabled table {
	opacity: .3;
}

.dp-disabled,
.dp-disabled td,
.dp-disabled th,
.dp-disabled th span {
	cursor: default;
}

a.date-picker-control:focus,
div.datePicker table td:focus {
	overflow: hidden;
	color: rgb(100, 130, 170);
}

/* The wrapper div */
div.datePicker {

	/*z-index:112;*/
	text-align: center;
	font-family: arial;
	background: transparent;
}

/* Styles for the static datePickers */
div.static-datepicker {
	position: relative;
}

div.datePicker table {
	width: auto;
	height: auto;
}

/* The "button" created beside each input for non-static datePickers */
a.date-picker-control:link,
a.date-picker-control:visited {
	position: relative;
	border: 0 none;
	padding: 0;
	margin: 0 0 0 4px;
	min-width: 16px;
	line-height: 1;
	cursor: pointer;
	visibility: visible;
	text-decoration: none;
	vertical-align: top;
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 180px;
	margin-top: -20px;
}

a.date-picker-control:hover,
a.date-picker-control:active,
a.date-picker-control:focus,
a.dp-button-active:link,
a.dp-button-active:visited,
a.dp-button-active:hover,
a.dp-button-active:active,
a.dp-button-active:focus {
	background: transparent url(../imagenes/cal.gif) no-repeat 50% 50%;
}

/* IE, Safari & Opera. Seperate CSS rule seems to be required. */
a.date-picker-control {
	display: inline-block;
}

a.date-picker-control span {
	display: block;
	width: 16px;
	height: 16px;
	margin: auto 0;
}

/* Default "button" styles */
div.datePicker thead th span {
	display: block;
	padding: 2px;
	margin: 0;
	text-align: center;
	line-height: 1em;
	border: 0 none;
	background: transparent;
	font-weight: bold;
	cursor: pointer;
}

/* The "month, year" display */
div.datePicker th span.month-display,
div.datePicker th span.year-display {
	display: inline;
	cursor: default;
}

/* Next & Previous (month, year) buttons */
div.datePicker th span.prev-but,
div.datePicker th span.next-but {
	font-weight: bold;
	font-size: 14px;
	font-family: arial;
	cursor: pointer;
}

/* Hover effect for Next & Previous (month, year) buttons */
div.datePicker th span.prev-but:hover,
div.datePicker th span.next-but:hover,
div.datePicker th span.today-but:hover {
	color: #a84444;
}

/* Today button */
div.datePicker th span.today-but {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	text-decoration: none;
	padding-top: 0.3em;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer
}

/* Disabled buttons */
div.dp-disabled th span.prev-but,
div.dp-disabled th span.next-but,
div.dp-disabled th span.today-but,
div.dp-disabled th span.prev-but:hover,
div.dp-disabled th span.next-but:hover,
div.dp-disabled th span.today-but:hover,
div.datePicker th span.prev-but.fd-disabled:hover,
div.datePicker th span.next-but.fd-disabled:hover,
div.datePicker thead th span.fd-disabled,
div.datePicker th span.fd-disabled:hover {}

/* The mon, tue, wed etc day buttons */
div.datePicker th span.fd-day-header {
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	text-transform: lowercase;
	cursor: pointer;
}

div.datePicker thead tr th span {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* The table */
div.datePicker table {
	margin: 0;
	padding: 0px;
	border: none;
	background: transparent;
	text-align: center;
	border-spacing: 2px;
	padding: 0;
	width: auto;
	empty-cells: show;
	position: relative;
}

/* Common TD & TH styling */
div.datePicker table td,
div.datePicker table tbody th {
	border: 0 none;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
	color: black;
}

div.datePicker table td:focus,
div.datePicker table td:active {
	outline: 0 none red;
}

div.datePicker table th {
	border: 0 none;
	padding: 0;
	font-weight: bold;
	color: #222;
	text-align: center;
	vertical-align: middle;
	text-transform: none;
}

/* Week number display */
div.datePicker table thead th.date-picker-week-header,
div.datePicker table tbody th.date-picker-week-header {
	background: transparent;
	cursor: default;
}

div.datePicker table thead th.date-picker-week-header {
	cursor: help;
	border: 0 none;
	padding: 0 0 0.2em 0;
}

/* tfoot status bar */
div.datePicker tfoot th {
	cursor: default;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border: 0 none;
	background: #fff;
	height: 2.8em;
}

/* The TH cell used to display the "month, year" title */
div.datePicker table thead th.date-picker-title {
	font-family: arial;
	font-weight: bold;
	color: #204D6F;
	text-transform: uppercase;
}

/* The "mon tue wed etc" day header styles */
div.datePicker table thead th.date-picker-day-header {
	text-transform: lowercase;
	cursor: help;
}

/* The "todays date" style */
div.datePicker table tbody td.date-picker-today {
	background: #218cc7;
	color: white;
}

div.datePicker table tbody td.month-out.date-picker-highlight {
	/*color:#ff6600;*/
}

/* The "highlight days" style */
div.datePicker table tbody td.date-picker-highlight,
div.datePicker table thead th.date-picker-highlight {
	color: #41ADE7;
}

/* The "active cursor" style */
div.datePicker table tbody td.date-picker-hover {
	cursor: pointer;
	border-color: #ff6600;
	color: #ff6600;
}

/* The "disabled days" style */
div.datePicker table tbody td.day-disabled {
	background: #fff;
	/*url(../media/backstripes.gif) no-repeat 0 0;*/
	color: #aaa;
	cursor: default;
	text-decoration: line-through;
}

div.datePicker table tbody td.month-out {
	color: #aaa;
}

/* The "selected date" style */
div.datePicker table tbody td.date-picker-selected-date {
	border-color: rgb(100, 130, 170);
	color: white;
	background: #FDB727;
}

/* The date "out of range" style */
div.datePicker table tbody td.out-of-range,
div.datePicker table tbody td.not-selectable {
	color: #ccc;
	cursor: default;
}

/* Week number "out of range" && "month-out" styles */
div.datePicker table tbody th.month-out,
div.datePicker table tbody th.out-of-range {
	/*color:#aaa;
	font-style:oblique;
	background:#fcfcfc;   */
}

/* week numbers "out of range" */
div.datePicker table tbody th.out-of-range {
	opacity: 0.6;
}

/* Used when the entire grid is full but the next/prev months dates cannot be selected */
div.datePicker table tbody td.not-selectable {
	opacity: 0.8;
}

div.datePicker table tbody tr {
	display: table-row;
}

div.datePicker table tfoot sup {
	font-size: 0.86em;
	letter-spacing: normal;
	text-transform: none;
	height: 0;
	line-height: 1;
	position: relative;
	top: -0.2em;
	vertical-align: baseline;
	vertical-align: top;
}

#fd-selector-fecha-calendario-inicio,
#fd-selector-fecha-calendario-fin,
#fd-fecha-noticias-inicio,
#fd-fecha-noticias-fin {
	margin-left: 10%;
}