/* Contenedor principal de la pantalla de inicio */
/* Contenedor general */
.container-inicio {
   width: 100%;
   padding: 0 50px;
}

/* Estilo común para los bloques blancos */
.infoGeneral,
.mapa,
.juegos {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    max-width: auto;
    margin: 30px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

/* Texto a la izquierda */
.infoGeneral h1,
.mapa h1,
.juegos h1 {
    font-size: 1.6rem;
    color: #8DC63F;
    flex: 1;
    text-align: center;
}

.link-imagen {
    display: inline-block;
}

.link-imagen img {
    max-width: 280px;
    width: 100%;
    height: auto;
    border-width: 4px;
    border-style: solid;
    border-color: #FDB912;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.link-imagen img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}


@media (max-width: 768px) {

    .bienvenida,
    .infoGeneral,
    .mapa,
    .juegos {
        padding: 20px 15px;
        gap: 15px;
    }

    /* Texto más pequeño */
    .bienvenida h1,
    .infoGeneral h1,
    .mapa h1,
    .juegos h1 {
        font-size: 0.90rem;
    }

    .bienvenida h2 {
        font-size: 0.70rem;
    }

    .bienvenida h3 {
        font-size: 0.60rem;
    }

    /* Imagen más pequeña */
    .bienvenida img,
    .infoGeneral img,
    .mapa img,
    .juegos img {
        max-width: 110px;
       

    }
    
}
