@charset "utf-8";
/* CSS Document */

div.divisor_encabezado
{
	position:fixed;	
	z-index:20;
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
	height:0;
}

div.divisor_encabezado div.pestana_mensajes
{
	position:absolute;
	top:0;
	border-top:#746f71 6px solid;
	display:none;
	height:100%;
	width:100%;
	overflow-y:auto;
	margin:0;
}

a#abrir-ventana-mensajes
{
	font-size:12px;
	text-decoration:none;
	color:white;
	font-weight:bold;
}

a#abrir-ventana-mensajes:hover
{
	text-decoration:underline;
}

div.divisor_encabezado div.mensajes
{
	background:#746f71;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;	
	padding:20px;
	box-shadow:0px 5px 3px #333333;
	color:white;
}

div.divisor_encabezado div.boton
{
	position:relative;	
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-20px;
	width:180px;	
	background:#746f71;
	height:20px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	box-shadow:0px 5px 3px #333333;
}

div.divisor_encabezado div.pestana_mensajes div.espacio
{
	height:5px;
}

div.divisor_encabezado div.boton span.cerrado
{	
	margin-top:1px;
	margin-left:15px;
	display:block;
	width:16px;
	height:16px;
	float:left;
	background:url(../img/btncerrar.png);
	margin-right:4px;
}

div.divisor_encabezado div.boton span.abierto
{	
	margin-top:1px;
	margin-left:15px;
	display:block;
	width:16px;
	height:16px;
	float:left;
	background:url(../img/btncerrar_a.png);
	margin-right:4px;
}

div.divisor_encabezado div.boton a
{
	color:white;
	text-decoration:none;
}

div.divisor_encabezado div.boton a:hover
{
	text-decoration:underline;
}

div.divisor_encabezado div.boton a:hover span.imagen
{	
	background-position:-16px, 0;
}