#entorno {
    display: block;
    margin: auto;
    height: auto;
}

#matriz{
/*    background: linear-gradient(rgba(200,200,200,.5), rgba(200,200,200,.5)) , url(../img/puzzles/fondos/abeja1.jpg);
    background-repeat: no-repeat;
    background-size: contain;*/
}


#logos{
    position: absolute;
    height: auto;
}
.campo-piezas{
/*   box-shadow: 1px -5px 42px -6px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px -5px 42px -6px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px -5px 42px -6px rgba(0,0,0,0.68);*/
    position: relative;
    margin: auto;
}


.pieza{
    padding: unset;    
    margin: unset;
    border-radius: unset;
    z-index: 2;
    width: 100%;
    height: unset;
    transition: all ease-in-out 0.5s;
}





#campo-fondo{
    box-shadow: 1px -5px 42px -6px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px -5px 42px -6px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px -5px 42px -6px rgba(0,0,0,0.68);
    text-align: center;
}

#img-fondo{

}



#fondo {
    max-width: 50%;
    opacity: 0.3;
    position: relative;
    text-align: center;
    height: unset;
    border-radius: unset;
    padding: unset ;
    margin: unset; 
    border-radius: unset;

}

.movil{
    border-radius: unset;
    padding: unset ;
    margin: unset; 
    height: unset;
    object-fit: cover;
    position: absolute;
}

@keyframes animatedBee{
    from{
        background-position-x: -84px;
    }
    
    to{
        background-position-x: -252px;
    }
}





