body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.header-full {
    width: 100%;
    padding: 20px;         
    box-sizing: border-box;
}

.header {
    background: #9ddcf7;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;

    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header h1 {
    color: white;
    font-size: 48px;
}

.abeja-header {
    position: absolute;
    right: -40px;
    top: 10px;
    width: 300px;
}

.card {
    background: white;
    width: 900px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    align-items: center;
}


.lado {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;
}

.lado h2 {
    color: #8bc34a;
    font-size: 36px;
    margin-bottom: 20px;
    white-space: nowrap;   
}

.img-juego {
    width: 180px;
    border: 5px solid #1e88e5;
    border-radius: 10px;
}

.img-tutorial {
    width: 180px;
    border: 5px solid #f9a825;
    border-radius: 10px;
}

/* .flecha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha img {
    width: 300px;
} */

.flecha {
    position: relative;
    width: 160px;
    height: 100px;
}

.flecha-img {
    width: 100px;
    display: block;
    margin: auto;
}

.abeja-animada {
    width: 40px;
    position: absolute;
    top: 30px;
    left: 0;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 32px;
    }

    .abeja-header {
        width: 90px;
        right: 10px;
    }
    
    .card {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .flecha img {
        transform: rotate(90deg);
        margin: 15px 0;
    }
}

@keyframes vuelo-abeja {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        transform: translateX(50px) translateY(-10px);
    }

    100% {
        transform: translateX(100px) translateY(0);
        opacity: 0;
    }
}

.abeja-animada {
    animation: vuelo-abeja 3s ease-in-out infinite;
}
