
footer {
  background-color: #034247;
  display: block;
  color: white;
  opacity: 85%;
  bottom:0;
}
h6,h3{
    word-break: break-word;
}

.container-footer .brand-area{
    grid-area: brand;
}

.container-footer .contact-area{
    grid-area: contact;
}



